<div class="loader" *ngIf="loading">
    <mat-spinner></mat-spinner>
</div>
<div *ngIf="!loading" class="user-page">
    <div>
        <mat-card class="user-card">
            <div class="user-basics">
                <div class="user-avatar">
                    <img src="{{userDetails.avatar_url}}" alt="avatar">
                </div>
                <div class="user-info">
                    <mat-card-title *ngIf="userDetails.name || userDetails.login">{{userDetails.name?userDetails.name:userDetails.login}}</mat-card-title>
                    <mat-card-subtitle>
                        <div *ngIf="userDetails.bio">
                            {{userDetails.bio}}
                        </div>
                        <div style="display: flex; gap: 6px;" *ngIf="userDetails.location">
                            <mat-icon> location_on</mat-icon>{{userDetails.location}}
                        </div>
                        <div style="display: flex; gap: 6px;" *ngIf="userDetails.html_url">
                            <mat-icon>link</mat-icon><a href="{{userDetails.html_url}}" target="_blank">{{userDetails.html_url}}</a>
                        </div>
                    </mat-card-subtitle>
                </div>
            </div>
        </mat-card>
    </div>
    <div>
        <mat-card class="user-body">
            <div class="search-bar">
                <form class="search-form">
                    <div>
                      <mat-form-field class="example-full-width">
                        <span matPrefix> </span>
                        <input type="tel" matInput placeholder="Search repos" name= "search" [(ngModel)]= "searchRepoString" autocomplete="off">
                        <button matSuffix mat-button><mat-icon *ngIf="!searchRepoString.length" >search</mat-icon><mat-icon *ngIf="searchRepoString.length" (click)="clearSearch()">close</mat-icon></button>
                      </mat-form-field>
                    </div>
                </form>
            </div>
            <div class="repo-card-list" fxLayout="row wrap" fxLayoutAlign="flex-start">
                <div *ngIf="!userRepos.length" class="empty-repo-list">
                    <div>
                        <h5>
                            No repositories here...
                        </h5>
                    </div>
                </div>
                <ngx-masonry style="width: 90vw;" [options]="masonryOptions" [ordered]="true">
                    <mat-card ngxMasonryItem *ngFor="let repo of userRepos | searchRepos:searchRepoString" class="repo-card mat-elevation-z4">
                        <div class="title"><a href="{{repo.html_url}}" target="_blank"><mat-card-title>{{repo.name}}</mat-card-title></a><div *ngIf="repo.stargazers_count>0" style="display: flex; align-items: center; gap: 2px;"><mat-icon style="color: gold;">star</mat-icon>{{repo.stargazers_count}}</div></div>
                        <div><mat-card-subtitle>Updated at {{repo.updated_at | date: 'mediumDate'}}</mat-card-subtitle></div>
                        <div>
                            <mat-card-content>
                                {{repo.description}}
                            </mat-card-content>
                        </div>
                        <div>
                            <mat-card-actions style="margin: auto 0 0;">
                                <div class="topic-list" *ngFor="let topic of repo.topics">
                                    <div class="topic">{{topic}}</div>
                                </div>
                            </mat-card-actions>
                        </div>
                    </mat-card>
                </ngx-masonry>
            </div>
        </mat-card>
    </div>
    <mat-paginator class="paginator"
        *ngIf="userRepos.length>0"
        [length]="length"
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOptions"
        (page)="onPageChange($event)"
        aria-label="Select page">
    </mat-paginator>
</div>