.loader{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.user-page{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.user-card{
    height: max-content;
    padding: 2%;
    box-shadow: none;
    .user-basics{
        width: 100vw;
        height: 30vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        .user-avatar{
            width: 30%;
            img{
                display: block;
                height: 50%;
                width: 50%;
                border-radius: 50%;
                margin: 0 auto;
            }
        }
        .user-info{
            width: 70%;
            mat-card-title{
                font-size: 2.5rem;
                line-height: 2.5rem;
                font-weight: 600;
            }
            mat-card-subtitle{
                display: flex;
                flex-direction: column;
                gap: 2px;
                font-size: 1rem;
                color: rgb(92, 92, 92);
                div{
                    display: flex;
                    align-items: center;
                }
                a{
                    text-decoration: none;
                    color: rgb(92, 92, 92);
                }
            }
        }
    }
}
.search-form{
    width: 90%;
    margin: 0 auto;
    margin-top: 5%;
    text-align: center;
    div{
        display: flex;
        gap: 2%;
        justify-content: center;
        align-items: center;
    }
}
.empty-repo-list{
    width: 100vw;
    height: 20vh;
    display: flex;
    align-items: center;
    text-align: center;
    div{
        width: 90%;
        margin: 0 auto;
    }
    h5{
        font-size: 2rem;
        line-height: 2rem;
    }
}
.user-body{
    box-shadow: none;
}
.repo-card-list{
    width: 90vw;
    margin: 0 auto;
    .repo-card{
        width: 30%;
        margin-bottom: 1%;
        border-radius: 8px;
        .title{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            mat-card-title{
                font-size: 1.2rem;
            }
            a{
                text-decoration: none;
                color: black;
                &:hover{
                    color: rgb(69, 69, 245);
                }
            }
        }
        .topic-list{
            display: inline-block;
            .topic{
                margin: 2px;
                padding: 5px;
                border-radius: 6px;
                background-color: rgb(94, 94, 255);
                color: white;
            }
        }
    }
}
.paginator{
    width: 80%;
    margin: 0 auto;
}

@media (min-width: 769px) and (max-width: 1440px){
    .repo-card-list{
        width: 90vw;
        margin: 0 auto;
        .repo-card{
            width: 30%;
        }
    }
}

@media (max-width: 768px) {

    
.user-card{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 2vh;
    height: 30vh;
    .user-basics{
        width: 90%;
        margin: 0 auto;
        flex-direction: column;
        .user-avatar{
            width: 50%;
            height: 40%;
            img{
                height: 100%;
                width: auto;
            }
        }
        .user-info{
            text-align: center;
            width: 90%;
            height: 50%;
            margin: 0 auto;
            mat-card-title{
                font-size: 1.2rem;
                line-height: 1.2rem;
                margin-top: 20px;
                margin-bottom: 20px;
            }
            .bio, .location, .link{
                text-align: center;
            }
            mat-card-subtitle{
                font-size: .8rem;
                div{
                    margin: 0 auto;
                }
            }
        }
    }
}

.repo-card-list{
    .repo-card{
        width: 90%;
    }
}

}